{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="vh-100" style="background-color: #89c3d2;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">


                            <form method="post" class="row g-3">

                                <h3 class="mb-5">Sign in</h3>

                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')}} </div>
                                {% endif %}
                                <div class="col-12">
                                    <label class="form-label" for="inputEmail">Email</label>
                                    <input type="email" name="email" id="inputEmail" class="form-control" value="{{ last_username }}" required autofocus>
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="form-check mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me" class="form-check-input"> Remember me
                                    </label>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit"  >Sign in</button>
                                </div>

                                <div>
                                    Don't you have an account   <a href="{{ path('app_register') }}"  >Sign up</a>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
