{% extends 'base_user.html.twig' %}


{% block body %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>All Rooms</h1>

        <table class="table" style="margin-top: 200px">
            <caption>List of rooms</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Room Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
            <tr>
                <th scope="row">1</th>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.building.name }}</td>
                <td><button onclick="location.href='/book/freedom/A27'" type="button" class="btn btn-success">Select</button></td>
                {% endfor %}

            </tr>

            </tbody>
        </table>

    </main>
{% endblock %}
