{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

<section class="vh-100" style="background-color: #89c3d2;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">


                    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app_room_index') }}">back to list</a>

                    {{ include('room/_delete_form.html.twig') }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
