{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}

    <section class="vh-200" style="background-color: #89c3d2;">
        <div class="container py-5 h-100" style="background-color: #89c3d2;">
            <div class="row d-flex justify-content-center align-items-center h-100" style="background-color: #89c3d2;">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="background-color: #89c3d2;">
                    <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #89c3d2;">
                        <h3 style="text-align: center; color: #005cc5;"> NEW ROOM</h3>
                        <div class="card-body p-10">
                            {{ include('room/_form.html.twig') }}

                            <a href="{{ path('app_room_index') }}">back to list</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

